$imgMainWidth: 28.75rem;
$imgMainHeight: 35.688rem;
$imgAfterMainWidth: 50.875rem;

.main {
  margin-top: 6.25rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-title::after {
    content: "У нас вы найдете лучшие светодиодные лампы для животоводства";
  }

  &-info {
    width: 41.644rem;
    min-width: 18.75rem;
  }
  &-subtitle {
    margin-top: 2rem;
    max-width: 20.25rem;
  }
  &-form {
    margin-top: 2.625rem;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    input, button {
      width: 12.188rem;
      height: 3.563rem;
      line-height: 1.938rem;
      transition: all 0.4s;
    }
    input {
      background-color: #f8f8f8;
      border: 1px solid #e1e1e1;
      text-align: center;
      &:active, &:hover {
        border: 1px solid #a8a6a6;
        &::placeholder {
          color: transparent;
          transition: all 0.4s;
        }
      }
    }
    button {
      background-color: $colorMarker;
      border: none;
      color: #ffffff;
      &:hover {
        background-color: #fc8211;
        color: #f8f8f8;
      }
    }
  }
  &-img {
    position: relative;
    min-width: $imgMainWidth;
    height: $imgMainHeight;
    &::after {
      position: absolute;
      content: " ";
      width: $imgAfterMainWidth*1.1;
      height: $imgMainHeight*1.1;
      top: -5rem;
      left: -10rem;
      background: url("./images/cow-lights-min.png") center / contain no-repeat;
      z-index: 10;
    }
  }
}

@media (max-width: 1800px) {
  .main {
    &-img {
      &::after {
        top: -2.5rem;
        left: -5rem;
        width: $imgAfterMainWidth*1;
        height: $imgMainHeight*1;
      }
    }
  }
}

@media (max-width: 1750px) {
  .main {
    &-img {
      min-width: $imgMainWidth*0.85;
      height: $imgMainHeight*0.85;
      &::after {
        top: 0rem;
        width: $imgAfterMainWidth*0.85;
        height: $imgMainHeight*0.85;
      }
    }
  }
}

@media (max-width: 1650px) {
  .main {
    &-img {
      min-width: $imgMainWidth*0.75;
      height: $imgMainHeight*0.75;
      &::after {
        top: 2.5rem;
        width: $imgAfterMainWidth*0.75;
        height: $imgMainHeight*0.75;
      }
    }
  }
}

@media (max-width: 1560px) {
  .main {
    &-img {
      min-width: $imgMainWidth*0.65;
      height: $imgMainHeight*0.65;
      &::after {
        top: 5rem;
        width: $imgAfterMainWidth*0.65;
        height: $imgMainHeight*0.65;
      }
    }
  }
}

@media (min-width: 1420px) and (max-width: 1490px) {
  .main {
    &-img {
      min-width: $imgMainWidth*0.9;
      height: $imgMainHeight*0.9;
      &::after {
        top: -2.5rem;
        left: -10rem;
        width: $imgAfterMainWidth*0.9;
        height: $imgMainHeight*0.9;
      }
    }
  }
}
@media (min-width: 1270px) and (max-width:1420px) {
  .main {
    &-img {
      min-width: $imgMainWidth*0.75;
      height: $imgMainHeight*0.75;
      &::after {
        top: 2.5rem;
        left: -10rem;
        width: $imgAfterMainWidth*0.75;
        height: $imgMainHeight*0.75;
      }
    }
  }
}
@media (min-width: 1140px) and (max-width:1270px) {
  .main {
    &-img {
      min-width: $imgMainWidth*0.6;
      height: $imgMainHeight*0.6;
      &::after {
        top: 5rem;
        left: -8rem;
        width: $imgAfterMainWidth*0.6;
        height: $imgMainHeight*0.6;
      }
    }
  }
}
@media (max-width: 1080px) {
  .main {
    justify-content: center;
    &-img {
      height: $imgMainHeight*0.4;
      &::after {
        left: 0rem;
        width: $imgAfterMainWidth*0.4;
        height: $imgMainHeight*0.4;
      }
    }
  }
}