// COLORS
$colorTitle: #141419;
$colorText:  #616161;
$colorMarker:  #fb973b;
$colorBorder: #fcba7c;

// TYPOGRAPHICAL
@mixin title {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: $colorTitle;
}

@mixin text {
  font-weight: 400;
  color: $colorText;
}

@mixin marker {
  font-size: inherit;
  font-weight: 700;
  color: $colorMarker;
}

@mixin button {
  font-family: "ButtonFonts", sans-serif;
  font-weight: 500;
}