@font-face {
  font-family: "ButtonFonts";
  src: url("./fotns/buttonfonts.otf");
}

@import "./styles/vars.scss";

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  font-size: 1.125rem;
  line-height: 1.563rem;
  @include text;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #FFFFFF;
}

.wrapper {
  width: 90%;
  margin: 1.75rem auto;
}

h2 {
  position: relative;
  @include title;
  
  &::after {
    position: absolute;
    top: -0.5rem;
    left: 0;
    color: transparent;
    text-decoration: underline;
    text-decoration-color: $colorBorder;
    z-index: -1;
  }
}

h6 {
  @include text;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

span {
  @include marker;
}

button, input {
  @include button;
  cursor: pointer;
  outline: none;
}
input {
  color: $colorTitle;
  &::placeholder {
    color: $colorText;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration-line: underline;
  }
}

ul {
  list-style: none;
}

@import "./styles/header.scss";
@import "./styles/main_section.scss";
@import "./styles/aboutus.scss";
@import "./styles/partners.scss";

@media (min-width: 1490px) {
  .wrapper {
    width: 65%;
  }
}

@media (min-width: 1180px) and (max-width: 1490px) {
  .wrapper {
    width: 80%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 12px;
  }
}